


<h2 class="title">Top News</h2>
<div class="news-list">
  <a 
    [href]="item.link" 
    target="_blank" 
    class="news-card-link" 
    *ngFor="let item of newsList"
  >
    <div class="news-card">
      <div class="news-image" *ngIf="item.imageUrl">
        <img [src]="item.imageUrl" [alt]="item.title" />
      </div>
      <div class="news-content">
        <h3 class="news-title">{{ item.title }}</h3>
        <div class="news-time">{{ getRelativeTime(item.postedAt) }}</div>
      </div>
    </div>
  </a>
</div>

