<div class="container">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="logo">
    <a class="menubtn" href="#">
      <i class="fa fa-bars"></i>
    </a>
    <img src="assets/iibsedu-logo-1.png"
    alt="SAMS Logo"  />
  </div>
  <hr style="border-bottom: 1px solid white;width: 100lvw;">
  
  <div class="n">
    <a href="#home">Home</a>

    <div class="menu">

      <div class="subnav">
        <button class="subnavbtn" href="https://www.moneycontrol.com/stocksmarketsindia/"
          target="_blank">StockMarket-Index <i class="fa fa-caret-down"></i></button>
        <div class="subnav-c">
          <ul style="color:white;">
            <a href="https://www.moneycontrol.com/stocksmarketsindia/#maindindi" target="_blank">Indian Indices</a>
            <a href="https://www.moneycontrol.com/stocksmarketsindia/" target="_blank">Global Indices</a>
            <a href="https://www.moneycontrol.com/stocksmarketsindia/" target="_blank">Top Gainers</a>
            <a href="https://www.moneycontrol.com/stocksmarketsindia/" target="_blank">Top Loosers</a>
          </ul>
        </div>
      </div>
    </div>
    <a href="https://instantforex.icicibank.com/instantforex/forms/MicroCardRateView.aspx" target="_blank">Forex</a>
    <a href="https://ibjarates.com/" target="_blank">Bullion Market</a>
    <a href="https://www.indiabudget.gov.in/doc/bh1.pdf" target="_blank">Budget 2026</a>
    <a href="https://www.businesstoday.in/magazine/the-buzz" target="_blank">Market Watch</a>
    <a href="https://www.bbc.co.uk/programmes/p02tb8vq/episodes/downloads" target="_blank">World Business Report</a>
    
    <!-- <button><li *ngIf="adminState.isAdmin" (click)="logoutAdmin()">logout</li></button> -->
    
  </div>
  
  <div class="mobile">
    
    <input type="checkbox" id="overlay-input" />
    <label for="overlay-input" id="overlay-button"><span></span></label>
    <div id="overlay">
      <ul>
        
        <li><a href="https://www.moneycontrol.com/stocksmarketsindia/" target="_blank">Indian Indices</a></li>
        <li><a href="https://www.moneycontrol.com/stocksmarketsindia/" target="_blank">Global Indices</a></li>
        <li><a href="https://www.moneycontrol.com/stocksmarketsindia/" target="_blank">Top Gainers</a></li>
        <li>
          <a href="https://www.moneycontrol.com/stocksmarketsindia/" target="_blank">Top Loosers</a>
        </li>
        <li><a href="https://instantforex.icicibank.com/instantforex/forms/MicroCardRateView.aspx"
          target="_blank">Forex</a></li>
          <li><a href="https://ibjarates.com/" target="_blank">Bullion Market</a></li>
          <li> <a href="https://www.indiabudget.gov.in/doc/bh1.pdf" target="_blank">Budget 2025</a></li>
          <li><a href="https://www.businesstoday.in/magazine/the-buzz" target="_blank">Market Watch</a></li>
          <li><a href="https://www.bbc.co.uk/programmes/p02tb8vq/episodes/downloads" target="_blank">World Business Report</a></li>
        <li></li>
        <li *ngIf="adminState.isAdmin" (click)="logoutAdmin()">logout</li>
      </ul>
    </div>

    <div id="home">
      <h1 style="text-align: center;color:red"></h1>
    </div>
    <!-- <div class="t">
        <div class="d">

        </div>
        <div class="news"style="background-color: beige;">
        <h1 >News</h1>
        <ul>
            
            <li>Welcome</li>
        </ul>
        </div>
   </div> -->
  </div>



  <router-outlet></router-outlet>
