.container{
  display: flex;
  flex-direction: column;
  /* background-color: ; */
  overflow-x: hidden;
  height: 100lvh;

  background-color: black;
  /* border-bottom: 1px solid white;  */
}
button{
    background-color: black;
    color:white;
    /* margin-left:-10px ; */
    font-family: monospace;
}
.subnav-c{
    display: none;
    position: absolute;
    left: -170px;
    /* top: -20; */
    background-color:black;
    width: 100%;
    z-index: 1;
}
.subnav-c a {
   display: flex;
   flex-direction: column;
   color:rgb(126, 6, 5) ;
   text-decoration: none;
}


.subnav:hover .subnav-c {
  display: flex;
     flex-direction: column;
    width:20%;
      margin-left: 15rem;

       }

       .subnav-c a:hover {
  background: rgba(56, 189, 248, 0.2) !important;
  color: #38bdf8 !important;
  padding-left: 1.5rem;
  transform: translateX(5px);
}
.logomobile{
    display: none;

}
.mobile{
    display: none;
 
}
.mobile a{
    text-decoration: none;
    color:white;
}

.n{
    display: flex;
    /* flex-direction: column; */
    background-color: black;
    font-family: monospace;
    align-items: center;
    margin:1rem;
}
.n a{
    text-decoration: none;
    color:white;
    margin:1rem;
    font-size: 1.2rem;
}
.t{
    display:flex;

}
.d{
    flex:1.5;
}
.news{
    flex:1;
    height:50vh;

}
h1{
    text-align: center;
}
.menubtn{
    display: none;
}
.logo img{
  height:100px;
  width:290px;
  object-fit: contain; 
  display: block;
  margin: auto;
  background-color: black;

}
@media screen and (max-width:36rem){
    .n{
        display: none;
    }
    .logo{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;
      
    }
    .logo img{
      object-fit: contain;
      /* height: 150px; */
      width: 110px;
      margin-left: 65px;
      width: 310px;
    }
    button{
      margin-left: -10px;
    }
    body {
        background: white;
        margin: 0;
        font-family: arial;
        width: 100vw;
        height: 100vh;
        animation: bugfix infinite 1s;
        -webkit-animation: bugfix infinite 1s;
      }
      
      @keyframes bugfix { from {padding:0;} to {padding:0;}}
      @-webkit-keyframes bugfix { from {padding:0;} to {padding:0;}}
      
      #overlay-button {
        position: relative;
        right: 23em;
        top:-6em;
        left:0.4em;
        padding: 26px 11px;
        z-index: 5;
        cursor: pointer;
        user-select: none;
        span {
            height: 4px;
            width: 35px;
            border-radius: 2px;
            background-color: white;
            position: relative;
            display: block;
            transition: all .2s ease-in-out;
            &:before {
              top: -10px;
              visibility: visible;
            }
            &:after {
              top: 10px;
            }
            &:before, &:after {
                height: 4px;
                width: 35px;
                border-radius: 2px;
                background-color:white;
                position: absolute;
                content: "";
                transition: all .2s ease-in-out;
            }
          }
          &:hover span, &:hover span:before, &:hover span:after {
            background: white;
          }
      }
      
      input[type=checkbox] {
        display: none;
        
        &:checked ~ #overlay {
          visibility: visible;
        }
        
        &:checked ~ #overlay-button {
          &:hover span, span{
            /* background: transparent; */
          }
          span {
            &:before {
              transform: rotate(45deg) translate(7px, 7px);
              opacity: 1;
            }
            &:after {
              transform: rotate(-45deg) translate(7px, -7px);
            }
          }
        }
      }
      
      #overlay {
        height: 100vh;
        /* margin-top: 100px; */
        width: 60vw;
        border-top : 1px solid white;
        background: black;
        z-index: 2;
        visibility: hidden;
        position: fixed;
        &.active {
          visibility: visible;
        }
        ul {
          display: flex;
          /* justify-content: center; */
          align-items: center;
          flex-direction: column;
          text-align: center;
          /* margin-top: -100px; */
          height: 80vh;
          padding-left: 0;
          list-style-type: none;
          li {
            padding: .5em;
            a {
              color: white;
              text-decoration: none;
              font-size: 1.5em;
              &:hover {
                color: #333332;
              }
            }
          }
        }
      }
      .mobile{
        display: flex;
        /* background-color: black; */
      }
      
    
    
}