button{
    background-color: black;
    color:white;
    font-family: monospace;
}
.subnav-c{
    display: none;
    position: absolute;
    left: 0;
    background-color:black;
    width: 100%;
    z-index: 1;
}
.subnav-c a {
   display: flex;
   flex-direction: column;
   color:rgb(126, 6, 5) ;
   text-decoration: none;
}

.subnav-c a:hover {
    background-color: #eee;
    color: black;
 }

.subnav:hover .subnav-c {
  display: flex;
     flex-direction: column;
    width:20%;
      margin-left: 15rem;

       }
.logomobile{
    display: none;

}
.mobile{
    display: none;
 
}
.mobile a{
    text-decoration: none;
    color:white;
}

.n{
    display: flex;
    
    background-color: black;
    font-family: monospace;
    align-items: center;
    margin:1rem;
}
.n a{
    text-decoration: none;
    color:white;
    margin:1rem;
    font-size: 1.2rem;
}
.t{
    display:flex;

}
.d{
    flex:1.5;
}
.news{
    flex:1;
    height:50vh;

}
h1{
    text-align: center;
}
.menubtn{
    display: none;
}
@media screen and (max-width:36rem){
    .n{
        display: none;
    }
    body {
        background: white;
        margin: 0;
        font-family: arial;
        width: 100vw;
        height: 100vh;
        animation: bugfix infinite 1s;
        -webkit-animation: bugfix infinite 1s;
      }
      
      @keyframes bugfix { from {padding:0;} to {padding:0;}}
      @-webkit-keyframes bugfix { from {padding:0;} to {padding:0;}}
      
      #overlay-button {
        position: absolute;
        right: 23em;
        top: 2em;
        padding: 26px 11px;
        z-index: 5;
        cursor: pointer;
        user-select: none;
        span {
            height: 4px;
            width: 35px;
            border-radius: 2px;
            background-color: white;
            position: relative;
            display: block;
            transition: all .2s ease-in-out;
            &:before {
              top: -10px;
              visibility: visible;
            }
            &:after {
              top: 10px;
            }
            &:before, &:after {
                height: 4px;
                width: 35px;
                border-radius: 2px;
                background-color:white;
                position: absolute;
                content: "";
                transition: all .2s ease-in-out;
            }
          }
          &:hover span, &:hover span:before, &:hover span:after {
            background: #333332;
          }
      }
      
      input[type=checkbox] {
        display: none;
        
        &:checked ~ #overlay {
          visibility: visible;
        }
        
        &:checked ~ #overlay-button {
          &:hover span, span{
            background: transparent;
          }
          span {
            &:before {
              transform: rotate(45deg) translate(7px, 7px);
              opacity: 1;
            }
            &:after {
              transform: rotate(-45deg) translate(7px, -7px);
            }
          }
        }
      }
      
      #overlay {
        height: 100vh;
        width: 60vw;
        background: red;
        z-index: 2;
        visibility: hidden;
        position: fixed;
        &.active {
          visibility: visible;
        }
        ul {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          text-align: center;
          height: 100vh;
          padding-left: 0;
          list-style-type: none;
          li {
            padding: 1em;
            a {
              color: white;
              text-decoration: none;
              font-size: 1.5em;
              &:hover {
                color: #333332;
              }
            }
          }
        }
      }
      .mobile{
        display: flex;
        background-color: black;
      }
      
    
    
}